{% extends "layout.html" %}
<div class="col-md-4 col-md-offset-4">
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>

</div>